@import "tailwindcss";

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: inline-flex;
  animation: ticker 25s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
